{% extends "base.html" %}

{% block content %}
<h3 class="text-center">Add new Book</h3>
<hr>
<div class="row">
    <div class="col-4 offset-4">
        <form class="d-flex flex-column gap-2" action="/books/create" method="post">
            <label class="form-label" for="section_name">Book Title</label>
            <input class="form-control" id="section_name" name="title" type="text">
            <label class="form-label" for="section_name">Description</label>
            <input class="form-control" id="section_name" name="description" type="text">
            <label class="form-label" for="section_name">content</label>
            <input class="form-control" id="section_name" name="content" type="text">
            <label class="form-label" for="section_name">Author</label>
            <input class="form-control" id="section_name" name="author" type="text">
            <select name="section_id" id="">
                {% for section in sections %}
                <option value="{{section.section_id}}">{{section.section_name}}</option>
                {% endfor %}

            </select>
            <button class="btn btn-primary w-100" type="submit">Add Section</button>
        </form>
    </div>
</div>
{% endblock %}