{% extends "base.html" %}


{% block content %}

<h1 class="d-flex justify-content-center align-items-center">Home Page</h1>
<div class="row mt-2 p-0 mx-0">
    {% for book in books %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description}}</p>
                <p class="card-text">{{ book.content}}</p>
                {% if session['role'] != 'admin' %}
                <form action="/issue/{{book.book_id}}" method="POST">
                    <button type="submit" class="btn btn-primary">Request Book</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock%}