{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row py-2">
                <h1 class="text-center">Login</h1>
            </div>
            <form class="form-group" action="/login" method="post">
                <label class="form-label" for="user_name">User Name</label>
                <input class="form-control" type="text" name="username" id="user_name">
                <label class="form-label" for="password ">Password</label>
                <input class="form-control" type="password" name="password" id="password">
                <p class="mt-1">Don't have an account? <a href="/register">Register</a></p>
                <button class="btn btn-primary py-2 my-2 w-100">Login</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}